 /*
css setup
selector {
  property: value;
}
*/
body {
  background-color: BurlyWood;
  margin-top: 300px;
}
h1 {
  color: white;
  text-align: center;
  font-size: 100;
}
h2 {
  color: white;
  text-align: center;
  font-size: 80;
}
p {
  color: white;
  text-align: center;
  font-size: 70;
  font-family: sans-serif;
}
a {
  color: white
}
a:hover {
  color: coral;
}
